.title {
    text-align: center;
    background-color: red;
    color: yellow;
}

.image {
    border: solid;
    border-color: rgb(255, 255, 0);
    border-width: 5px;
    border-radius: 28%;
}

.home, 
.recipe {
    height: auto;    
}

.home {
    width: 140px;
}

.recipe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.border {
    border-color: rgb(255, 0, 0);
    border-width: 100px;
    border-style: groove;
}

.background {
    background-color: rgb(54, 1, 1);
}

.hyperlink,
.text {
    color: yellow;
    background-color: transparent;
}

